version: "3"

services:
  portainer:
    image: portainer/portainer-ee:latest
    container_name: portainer
    restart: always
    networks:
      - traefik_proxy
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer-data:/data
    # ports:
      # edge port
      # - 8000:8000
      # webGUI port
      # - 9000:9000
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.portainer.rule=Host(`portainer.nuc10i7fnh.home.arpa`)"
      - "traefik.http.routers.portainer.entrypoints=https"
      - "traefik.http.routers.portainer.tls=true"
      - "traefik.http.routers.portainer.service=portainer"
      - "traefik.http.routers.portainer.middlewares=secured@file"
      - "traefik.http.services.portainer.loadbalancer.server.port=9000"

volumes:
  portainer-data:

networks:
  traefik_proxy:
    external: true
